
a{
    text-decoration: none;
}

i.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}

.left {
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}

.img.center{
    display: block;
    min-width: 50px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

input[id^="input-"]{
    width: 85%;
}

.remove-input{
    max-width: 5px;
    margin-left: 5px;
}

.spacer{
    height: 25px;
    width: 100%;
}

label{
    display: inline-block;
}

label.counter{
    float: right;
}

.min-height{
    padding-bottom: 25px;
    padding-top: 25px;
}

canvas#board{
    border:1px solid black;
}

.with-margin{
    margin: 15px;
}

b{
    margin-left: 15px;
}

h6{
    display: inline-block;
    font-size: 1.9rem;
    margin-right: 15px;
}